#inicio {
    background-image: url(../img/fondo-img.jpg), radial-gradient(rgba(255, 255, 255,0.5),rgba(255, 255, 255,1));
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: hard-light;

    .goldsGym {
        width: 85vw;
        height: auto;
    }
}

